:root {
    --basic-white: #FFFFFF;
    --basic-light-grey: #DBDBDB;
    --basic-grey: #A8A8A8;
    --basic-black: #303030;
    --basic-blue: #008DE0;
}

.header {
    /* padding: 11px 0px 0px 51px; */
    /* visibility: hidden; */
    width: 100%;
    /* width: 1920px; */
    height: 118px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: grid;
    grid-template-areas:
    'logo'
    ;
    /* display: none; */
    /* opacity: 0.5; */
    background-color: var(--basic-white);
    /* background-color: #008DE0; */
}

.header__logo {
    grid-area: logo;
    padding: 11px 0px 0px 52px;
    /* background-color: coral; */
}
.header__progressbar {
    grid-area: progressbar;
    /* background-color: blueviolet; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    /* padding: 0px 30px 0px 0px; */
    /* margin: 0px 171px 6px 173px; */
    /* display: none; */
    position: relative;
    /* left: 54px; */
    right: 26px;
    display: none;
}
.header__buttons {
    grid-area: buttons;
    /* background-color: salmon; */
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: space-between; */
    justify-content: flex-end;
    align-items: center;
    /* padding: 0px 0px 0px 60px; */
    display: none;
}
.header__menu {
    grid-area: menu;
    /* background-color: khaki; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 60px 0px 0px;
    display: none;
}

/* .progressbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0px 171px 6px 173px;
    display: none;
} */
.progressbar__min {
    padding: 0px 25px 0px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-grey);
}
.progressbar__bar {
    position: relative;
    width: 406px;
    /* width: 1000%; */
    width: calc(100vw * 0.189);
    height: 6px;
    border-radius: 10px;
    border-radius: 180px;
    background-color: var(--basic-black);
}
.progressbar__progressline {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 6px;
    border-radius: 10px;
    border-radius: 180px;
    background-color: var(--basic-blue);
}
.progressbar__max {
    padding: 0px 0px 0px 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-grey);
}
.buttons-group {
    /* display: flex;
    flex-flow: row nowrap; */
}

.switch-btn {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 18px;
    border: 2px solid var(--basic-black);
    border-radius: 14.5px;
    /* position: relative; */
    right: 55px;
    top: 0px;
    /* margin: 39px 34px 0px 0px; */
    /* margin: 0px 34px 0px 0px; */
}
.switch-btn input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.switch-btn__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--basic-white);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.switch-btn__slider:before {
    position: absolute;
    content: "";
    height: 9px;
    width: 9px;
    left: 3px;
    bottom: 0.25px;
    background-color: white;
    border: 2px solid var(--basic-black);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .switch-btn__slider {
    background-color: var(--basic-blue);
} 
input:focus + .switch-btn__slider {
    box-shadow: 0 0 1px var(--basic-blue);
}
input:checked + .switch-btn__slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

.searchbar {
    border: none;
    background-color: transparent;
    /* margin: 0px 34px 0px 0px; */
    position: relative;
    right: 21px;
    top: 3px;
    cursor: pointer;
    /* margin: 0px 0px 0px 20px; */
}
.searchbar:hover {
    opacity: 0.7;
}
.searchbar__icon {
    width: 26px;
    height: 26px;
}
.login-btn {
    border: none;
    background-color: transparent;
    position: relative;
    left: 10px;
    top: 2px;
    /* margin: 0px 99px 0px 0px; */
    /* padding: 2px 22px 0px 0px; */
    /* margin: 2px 22px 0px  0px; */
}
.login-btn:hover {
    opacity: 0.7;
}
.login-btn__icon {
    width: 28px;
    height: 28px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__list {
    list-style: inside;
    list-style-type: none;
}
.menu__list-item {
    display: inline;
}
/* FIX THIS */
.menu__list-link {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 86px;
    text-decoration: none;
    /* margin: 0px 0px 0px 109px; */
    margin-left: 112px;
    margin-left: calc(100vw * 0.052);
    /* margin-left: 0%; */
    /* margin: 0px 0px 0px 0.01%; */
    color: var(--basic-black);
}
.menu__list-item_first {
    margin: 0px 0px 0px 0px;
}
.menu__list-link:hover {
    color: var(--basic-blue);
}
.menu__list-link_active {
    color: var(--basic-blue);
}
/* @media only screen and (min-width: 992px) {} */

/* @media only screen and (min-width: 1248) { */
@media only screen and (min-width: 992px) {
    .header {
        grid-template-areas:
            'logo progressbar buttons buttons menu'
        ;
        display: grid;
    }
    .header__progressbar {
        display: flex;
    }
    .header__buttons {
        display: flex;
    }
    .header__menu {
        display: flex;
    }
}